<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="day" datePattern="yyyy-MM-dd"/>

    <appender name="FILE_DEFAULT" class="ch.qos.logback.core.FileAppender">
        <file>target/logs/default_${day}.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE_DEFAULT"/>
    </root>

</configuration>
